.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
scripts/**
.git/**
.github/**
.gitignore
.yarnrc
.node-version
webpack.config.js
vsc-extension-quickstart.md
tsconfig.json
eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
package-lock.json
